/* src/components/MainContent.module.css */
.maincontent {
    text-align: left; /* Adjust alignment as needed */
    padding: 20px;
    color:#ffffff;
    margin-left: 300px; /* Adjust margin as needed */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    position: fixed;
    height: 80%;
    
  }
  
  .main {
    font-size: 2em;
    margin: 0; /* Adjust margin as needed */
    margin-top: 200px;
  }
  
  .submain {
    font-size: 1.5em;
    margin: 0; /* Adjust margin as needed */
  }
  
  .Nstyle {
    font-weight: bold;
    background: linear-gradient(rgba(6,249,214,255), rgba(252,32,85,255));
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-family:Arial, Helvetica, sans-serif;
  }

  .sign1 {
    font-size: 0.5em;
    font-family: garamond;
    background: linear-gradient(rgba(6,249,214,255), rgba(252,32,85,255));
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30px;
  }

  .button {
    background-color: rgba(29,29,29,255);
    color:#195f52;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 12px;
    font-family:Arial, Helvetica, sans-serif;
    border: 3px solid #195f52;
  }

  .button:hover {
    background-color: #195f52;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .maincontent {
      margin-left: 0; /* Adjust margin as needed */
      width: 100%;
      height: fit-content;
      font-size: 1rem;
      position: relative;
      left:15rem;
    }

    .button {
      padding: 10px 20px;
      font-size: 12px;
      position: relative;
      top: 2rem;
    }

    .sign1 {
      font-size: 1em;
      margin-top: 6%;
    }
  }